{{#ol-map}}
  {{ol-control-layer}}
  {{#ol-tile-layer}}
    {{#if showOsmLayer}}
      {{ol-source-layer}}
    {{/if}}
  {{/ol-tile-layer}}
  {{ol-view center=center maxZoom=maxZoom rotation=rotation zoom=zoom onChangeRotation=(action "alert" "Rotation!")}}
{{/ol-map}}

<button {{action "click"}}>Toggle Me</button>
<button {{action "rotate"}}>Rotate Me</button>
<button {{action "centerOnMap"}}>Center Me</button>
{{outlet}}